/*** GLOBAL STYLING ***/

body {
  margin: 0;
}

h1, h2, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  grid-column-start: 1;
  grid-row-start: 3;
  margin: 0;
  padding: 4px 0;
}

h2 {
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  margin: 0;
  padding-bottom: 30px;

}

h3, h6 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  display: inline;
  padding: 3px 10px;
  background: #573139;
  font-size: 22px;
}

h5 {
  color: #573139;
  font-size: 21px;
}

h6, p {
  color: #000000;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
}

/*** HEADER ***/

header {
  height: 508px;
  margin: 0;
  background-image: url(./assets/anna-sullivan-ARrM9jUl780-unsplash.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-key-words {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 99px 198px;
  grid-template-rows: repeat(5, auto);
  height: 403px;
  padding: 105px 36px 0 36px;
  background: rgba(23, 3, 3, 0.5);
}

.social-media {
  display: flex;
  grid-column-start: 2;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon-link {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.icon-link img {
  width: 19px;
  height: auto;
}

.portfolio {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  padding: 32px 0 0 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.name {
  font-weight: 700;
}

.profile {
  grid-column-start: 2;
  grid-row-start: 5;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0;
  width: 156px;
  height: 156px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

/*** MAIN SECTION ***/

main {
  text-align: center;
}

.summary, .tech-listing, .skill-lists, .project-container, .project-container-small, .thought-container, .thought-container-small {
  margin: 0 auto;
  max-width: 310px;
}

.portfolio-container {
  padding: 58px 36px;
}

.primary {
  background: #F4F4F4;
}

.summary, .project-container, .project-container-small, .thought {
  text-align: left;
}

/*** SUMMARY ***/

.line-symbol {
  margin-right: 15px;
  position: relative;
  float: left;
  top: 10px;
  width: 50px;
  height: 2px;
  background: #573139;
}

.line-symbol::after {
  content: '';
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  top: -4px;
  right: -1px;
  border-radius: 50%;
  background: #573139;
}

/*** TECH ***/

.tech-listing {
  margin-top: 34px;
  text-align: center;
}

/*** PROJECTS ***/

.project-1-image, .project-2-image, .project-3-image, .project-4-image {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  width: 100%;
  height: 179px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(23, 3, 3, 0.7);
}

.project-1-image {
  background-image: url(./assets/weather-project.png);
}

.project-2-image {
  background-image: url(./assets/cluedo-project.png);
}

.project-3-image {
  background-image: url(./assets/pizza-project.png);
}

.project-4-image {
  background-image: url(./assets/news-project.png);
}

.project-title {
  align-self: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.project-description {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.featured-project, .link-arrows {
  color: #573139;
  font-weight: 700;
}

.featured-sentence {
  color: #000000;
}

.code-tag-container {
  display: flex;
}

.code-tag {
  margin: 20px 4px 9px 0;
  padding: 4px 8px;
  background: #f3d4d4;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
}

/*** THOUGHTS ***/

.thought img {
  width: 100%;
  height: 100%;
  margin-top: 34px;
}

.thoughts-text-content {
  line-height: 32px;
}

.thoughts-date, .thoughts-date-small {
  margin: 0;
  padding-top: 10px;
  color: #573139;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.thoughts-title, .thoughts-title-small {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.thoughts-title {
  font-size: 21px;
}

.thoughts-title-small {
  font-size: 17px;
}

.thoughts-intro {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.thought-small {
  text-align: left;
}

.thoughts-text-content-small {
  margin-top: 25px;
}

.thoughts-date-small, .thoughts-title-small, .link-arrows-small {
  display: inline;
}

.link-arrows, .link-arrows-small {
  color: #573139;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
}

/*** SKILLS ***/

.skill-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 34px;
}

.list {
  width: 42%;
  margin: 10px;
}

ul {
  
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  padding: 3px 0;
}

.list-title {
  content: attr(title);
  display: block;
  margin: 0;
  padding-bottom: 6px;
  color: #573139;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

/*** LINKS FOR MORE INFO ***/

.social-media-2 {
  display: flex;
  justify-content: space-between;
  max-width: 310px;
  margin: 33px auto 0 auto;
  padding: 0 21px;
}

.social-media-2 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.icon-container-more {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 53px;
  height: 53px;
  border: 3px solid #573139;
  border-radius: 50%;
}

.link-name {
  margin: 0;
  padding: 14px 0;
  color: #573139;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.icon-container-more img {
  width: 22px;
  height: auto;
}

/*** FOOTER ***/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 266px;
  background: #52563c;
  text-align: center;
}

footer h4 {
  font-size: 21px;
  background: none;
  margin: 0;
}

.author-name, .contact-details {
  color: #ffffff;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 5px;
}

.author-name {
  padding-top: 20px;
  font-weight: 700;
}

.credit {
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
}

.credit a {
  color: #ffffff;
  font-weight: bold;
}

/*** MEDIA QUERIES ***/

@media (min-width: 680px) {

  h5 {
    margin-bottom: 0;
  }

  .profile-key-words {
    grid-template-columns: 80px 65%;
    padding: 105px 10% 0 10%;
  }

  .summary, .tech-listing, .skill-lists, .project-container, .project-container-small, .thought-container, .thought-container-small {
    margin: 0 auto;
    padding: 50px 10%;
    max-width: 550px;
  }

  .project-container, .thought-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-card, .thought {
    width: 48%
  }

  .thought img {
    height: auto;
    max-height: 200px;
  }

}

@media (min-width: 1020px) {

  h1 {
    align-self: center;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  h2, h4 {
    font-size: 35px;
  }

  h2 {
    padding-bottom: 80px;
  }

  h5 {
    font-size: 30px;
  }

  .portfolio {
    font-size: 20px;
    align-self: end;
    padding: 0;
  }

  .profile-key-words {
    grid-template-columns: 120px 80%;
    height: 420px;
    padding: 105px 10% 0 10%;
  }

  .social-media {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .icon-link {
    margin-left: 10px;
    width: 50px;
    height: 50px; 
  }
  
  .icon-link img {
    width: 25px;
    height: auto;
    transition: transform .5s, filter .5s ease-out;
  }

  .icon-link img:hover {
    transform: scale(1.1);
  }

  .profile {
    grid-row-start: 1;
    grid-row-end: 6;
    width: 250px;
    height: 250px;
  }

  .summary, .tech-listing, .skill-lists, .project-container, .project-container-small, .thought-container, .thought-container-small, .social-media-2 {
    max-width: 1088px;
  }

  .summary, .tech-listing, .thoughts-title {
    font-size: 25px;
  }

  .line-symbol {
    top: 14px;
  }

  .project-title, .project-description, .thoughts-date, .thoughts-date-small, .thoughts-intro, .thoughts-title-small, .link-arrows, .link-arrows-small, ul, .list-title, .link-name {
    font-size: 20px;
  }

  .code-tag {
    font-size: 16px;
  }

  .project-1-image, .project-2-image, .project-3-image, .project-4-image {
    height: 250px;
  }

  .thought img {
    height: auto;
    max-height: 350px;
  }

  .thoughts-text-content {
    line-height: 35px;
  }

  .list {
    display: grid;
    width: 30%;
  }

  .social-media-2 {
    margin: 0 auto;
    padding: 50px 10%;
  }

  .icon-container-more {
    width: 120px;
    height: 120px;
  }

  .icon-container-more img {
    width: 50px;
    transition: transform .5s, filter .5s ease-out;
  }
  
  .icon-container-more img:hover {
    transform: scale(1.1);
  }

  footer {
    height: 570px;
  }

  footer h4 {
    font-size: 38px;
  }

  .author-name, .contact-details {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .author-name {
    padding-top: 30px;
    font-weight: 400;
  }

}

@media (min-width: 1450px) {
  
  h1 {
    font-size: 83px;
    line-height: 83px;
  }

  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 48px;
  }

  h5 {
    font-size: 38px;
  }

  header {
    height: 655px;
  }

  .profile-key-words {
    grid-template-columns: 170px 918px;
    height: 570px;
  }

  .icon-link {
    width: 80px;
    height: 80px;
  }

  .icon-link img {
    width: 39px;
  }

  .portfolio {
    font-size: 28px;
  }

  .profile {
    width: 330px;
    height: 330px;
  }

  .summary, .tech-listing, .thoughts-title {
    font-size: 30px;
  }

  .project-1-image, .project-2-image, .project-3-image, .project-4-image {
    height: 300px;
  }

  .project-card, .thought {
    width: 45%
  }

  .project-title, .project-description, .thoughts-date, .thoughts-date-small, .thoughts-intro, .thoughts-title-small, .link-arrows, .link-arrows-small, ul, .list-title, .link-name {
    font-size: 25px;
  }

  .thoughts-text-content {
    line-height: 41px;
  }

  .icon-container-more {
    width: 154px;
    height: 154px;
  }

  .icon-container-more img {
    width: 60px;
  }

}